#errorpass{
	color:#FF0004;
	font-size:10px;
	font-family:Arial,  "Helvetica Neue", Helvetica, sans-serif;
	}
	
	
	 .table-striped>tbody>tr:nth-child(odd)>td, 
      .table-striped>tbody>tr:nth-child(odd)>th {
       background-color: #ffffff;
      }
      .table-striped>tbody>tr:nth-child(even)>td, 
      .table-striped>tbody>tr:nth-child(even)>th {
       background-color: #d9d9d9;
      }
      .table-striped>thead>tr>th {
         background-color: #eee;
      }