#errorpass{
	color:#FF0004;
	font-size:10px;
	font-family:Arial,  "Helvetica Neue", Helvetica, sans-serif;
	}

	.error-pass{
		color:#FF0004;
		font-size:12px;
		font-family:Arial,  "Helvetica Neue", Helvetica, sans-serif;
		}